/* Answers Start */
.answers {
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 10px;
  grid-auto-flow: column;
  margin: 2rem 0;
}

@media (max-width: 1024px) {
  .answers {
    grid-auto-flow: unset;
    margin: 1rem 0;
  }
}
/* Answers End */

/* Answer Start */
.answer {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: var(--quesBg);
  padding: 0 1.2rem;
  border-radius: var(--borderRadE);
  font-style: 500;
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -o-transition: var(--transition);
}

.answer:hover {
  background-color: rgba(0, 0, 0, 0.17);
}

.answer input {
  margin-right: 1rem;
}

.correct {
  background-color: var(--currect) !important;
  font-weight: 600;
}

.wrong {
  background-color: var(--wrong) !important;
  font-weight: 600;
}

/* For Question Analysis */
.answer span {
  width: 100%;
}

.answer span:nth-of-type(2) {
  text-align: right;
  font-size: 14px;
  color: #4a6585;
}
/* Answer End */

/* Progress Bar Start */
.progressBar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px;
  display: grid;
  grid-template-columns: 50px 1fr auto;
  gap: 20px;
  height: 65px;
  align-items: center;
  background-color: var(--white);
  margin: 0 auto;
  border-radius: var(--borderRadE);
  padding: 0 1rem;
}

.progressBar .backBtn {
  background-color: #065b4d18;
  width: 50px;
  height: 50px;
  border-radius: var(--borderRadE);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -o-transition: var(--transition);
}

.progressBar .backBtn:hover {
  background-color: #065b4d2e;
}

.rangeArea {
  width: 100%;
  position: relative;
}

.rangeArea .tooltip {
  position: absolute;
  top: -70px;
  left: calc(20% - 59px);
  background-color: var(--textColor);
  color: var(--white);
  border-radius: var(--borderRadE);
  padding: 0.77rem 1rem;
  font-size: 12px;
  font-weight: 600;
  display: none;
}

.rangeArea .tooltip::after {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  background-color: var(--textColor);
  border-radius: 3px;
  left: 50%;
  bottom: 0;
  transform: rotate(45deg) translate(-50%, 100%);
}

.rangeBody {
  width: 100%;
  height: 5px;
  background-color: var(--quesBg);
  border-radius: 10px;
}

.progress {
  width: 20%;
  height: 100%;
  background-color: var(--textColor);
  position: relative;
  border-radius: 10px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -o-transition: var(--transition);
}

.progress::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: var(--textColor);
  right: 0;
  top: 50%;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}

@media (max-width: 1024px) {
  .progressBar {
    width: 90%;
    bottom: 10px;
  }

  .progressBar .backBtn {
    width: 40px;
    height: 40px;
  }

  .next span:first-child {
    display: none;
  }
}
/* Progress Bar End */

/* Mini Player Start */
.miniPlayer {
  position: fixed;
  width: 320px;
  bottom: 100px;
  right: 50px;
  background-color: var(--white);
  padding: 10px;
  border-radius: var(--borderRadF);
}

.miniPlayer img {
  width: 100%;
  object-fit: cover;
  /* width: 300px;
  aspect-ratio: 16 / 9; */
  -webkit-animation: showImg 0.6s ease forwards;
  -moz-animation: showImg 0.6s ease forwards;
  -o-animation: showImg 0.6s ease forwards;
  animation: showImg 0.6s ease forwards;
}

.miniPlayer p {
  margin: 10px 0;
  font-weight: 500;
  font-size: 14px;
  color: var(--textColor);
}

@keyframes showImg {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.open {
  display: none;
}

.close {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: var(--white);
  top: -10px;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -o-transition: var(--transition);
}

.close:hover {
  color: rgba(0, 0, 0, 0.5);
}

.floatingBtn {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 80px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--textColor);
  border-radius: 50%;
  cursor: pointer;
}

.floatingBtn .open {
  display: block;
  color: var(--currect);
}

.floatingBtn .close {
  display: none;
}

.floatingBtn:hover {
  background-color: var(--currect);
}

.floatingBtn:hover .open {
  color: var(--textColor);
}

.floatingBtn img {
  transform: scale(0);
  display: none;
}

.floatingBtn p {
  display: none;
}
/* Mini Player End */
